body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #9759a6;
  height: 100vh;
  display: grid;
  place-items: center;
}

#container {
  background-color: #4b9e36;
  padding: 1rem;
  border-radius: 10px;
  width: 600px;
  box-shadow: 2px 2px 8px rgb(20, 20, 20);
  color: #fff;
  text-shadow: 1px 1px 2px rgb(20, 20, 20);
}

#container h1,
p {
  text-align: center;
}
